* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --nero-100: rgba(0, 0, 0, 1);
  --black-opacity: rgba(0, 0, 0, 0.5);
  --dark-blue: rgba(8, 11, 18, 1);
  --deep-blue: rgba(20, 25, 34, 1);
  --dark-grey: rgba(40, 40, 40, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-grey: rgba(113, 113, 113, 1);
  --lime-green: rgba(173, 255, 47, 1);
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.overflow-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow-y: hidden;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.px-10 {
  padding: 0px 10px;
}

.px-20 {
  padding: 0px 20px;
}

.px-30 {
  padding: 0px 30px;
}

.p-20 {
  padding: 20px;
}

main {
  height: calc(100vh - 80px);
}

p,
h1,
h2,
h3,
h4,
a,
li,
i {
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.btn-white {
  display: inline-block;
  padding: 12px 25px;
  background-color: transparent;
  border: 1px solid var(--text-white);
  color: var(--text-white);
  border-radius: 20px;
}

.btn-classic {
  background-color: transparent;
  border: 0px;
  color: var(--text-grey);
  font-weight: 600;
}

.btn-white:hover {
  background-color: var(--text-white);
  color: var(--nero-100);
}

.btn-classic:hover {
  color: var(--text-white);
}

.circle {
  border-radius: 50%;
}

aside {
  width: 20%;
  background-color: var(--nero-100);
}

aside .sidebar-top {
  height: 80%;
}

aside .sidebar-top {
  padding: 20px 0px;
}

aside .sidebar-bottom {
  height: 20%;
}

.sidebar-top img.logo-large {
  max-width: 120px;
  cursor: pointer;
}

.sidebar-top li {
  cursor: pointer;
}

.sidebar-top .playlist-menu .playlist:hover {
  color: var(--text-white);
}

.sidebar-top .playlist-menu h3 {
  text-transform: uppercase;
}

.sidebar-top .playlist-menu .ri-add-box-fill {
  font-size: 3em;
  color: var(--text-grey);
}

.sidebar-bottom .user i {
  padding: 5px;
}

hr {
  margin: 20px 0px;
}

.mainbar-item a,
.mainbar-item i,
.playlist-menu .playlist,
.sidebar-bottom i {
  color: var(--text-grey);
  font-weight: 700;
}

.mainbar-item:hover a,
.mainbar-item:hover i {
  color: var(--text-white);
}

.main-section .first {
  min-height: 80px;
  background-color: var(--dark-blue);
}

.main-section .second {
  min-height: 80px;
  background-color: var(--deep-blue);
}

.main-section .third {
  background-color: var(--deep-blue);
  overflow-y: scroll;
  padding: 30px 0px;
}

.main-section .topbar .nav-item a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-grey);
}

.main-section .topbar .nav-item a:hover {
  color: var(--text-white);
}

.main-section .third .cards .card {
  max-width: calc((100% / 6) - 20px);
}

.main-section .third .cards .card p {
  color: var(--text-grey);
  font-weight: 600;
}

.main-section .third .card .card-image {
  position: relative;
  cursor: pointer;
}

.main-section .third .card .card-image img {
  width: 100%;
  height: 100%;
}

.main-section .third .card .card-image .ri-play-circle-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  display: none;
}

.main-section .third .card .card-image:hover .ri-play-circle-line {
  display: block;
}

.main-section .third .card .card-image:hover img {
  opacity: 0.5;
}

.main-section .third .subtitle {
  font-weight: 600;
  color: var(--text-grey);
}

footer {
  height: 85px;
  width: 100%;
  background-color: var(--dark-grey);
  position: fixed;
  bottom: 0;
}

footer i {
  cursor: pointer;
}

footer .first {
  min-width: 25%;
}

footer .first img {
  width: 50px;
}

footer .first p,
footer .first i {
  color: var(--text-grey);
}

footer .first p {
  font-weight: 600;
  font-size: 0.7em;
}

footer .first i {
  font-size: 1em;
}

footer .second {
  min-width: 50%;
}

footer .second i {
  font-size: 1.5em;
}

footer .second i.player {
  font-size: 2em;
}

footer .second .time {
  font-size: 0.7em;
}

footer .third {
  min-width: 20%;
}

footer .play-bar {
  height: 5px;
  border-radius: 30px;
  background-color: #3f3f3f;
}

footer .play-bar .progression {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #777777;
}
